USE [master]
GO
/****** Object:  Database [EgaP]    Script Date: 22.02.2024 10:30:11 ******/
CREATE DATABASE [EgaP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EgaP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EgaP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EgaP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EgaP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EgaP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EgaP]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 22.02.2024 10:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[Должность] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мероприятия]    Script Date: 22.02.2024 10:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мероприятия](
	[ID Мероприятия] [int] NOT NULL,
	[Тип мероприятия] [nvarchar](255) NULL,
	[Название мероприятия] [nvarchar](255) NULL,
	[Дата мероприятия] [datetime] NULL,
	[Посещаемость] [int] NULL,
	[ФИО] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 22.02.2024 10:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[ID Сотрудника] [int] NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[Должность] [nvarchar](255) NULL,
	[Стаж работы] [nvarchar](255) NULL,
	[Фото] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Типы мероприятий]    Script Date: 22.02.2024 10:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Типы мероприятий](
	[Тип мероприятия] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ФИО Сотрудников]    Script Date: 22.02.2024 10:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ФИО Сотрудников](
	[ID Сотрудника] [int] NOT NULL,
	[ФИО] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
